@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
	margin:0px;
	padding:0px;
}
body{
	font-family: 'Work Sans', sans-serif;
	font-size:16px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
	font-weight:500px;
}
section{
	padding:80px 0px;
}
.topBarMain{
	background-color:#f5f5f5;
}
.container{
	width:1140px;
	padding-right:15px;
	padding-left:15px;
	margin:auto;
}
.phone{
	width:210px;
	float:left;
	padding:15px 10px;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
}
.email{
	width:748px;
	float:left;
	padding:15px 10px;
}
.social{
	width:140px;
	float:left;
}
.topbarWrapper{
	overflow:hidden;
}
.social i{
	display:block;
	float:left;
	padding:15px;
	border-right:1px solid #ddd;
	color:#0e0e0e;
	transition:.3s;
}
.social a:first-child{
	border-left: 1px solid #ddd;
}
.social i:hover{
	color:#ff5200;
}
.phone i{
	color:#ff5200;
}
.email i{
	color:#ff5200;
}
.logo{
	width:150px;
	float: left;
	margin-top:22px;
}
.primaryWrapper{
	display:table;
	width:100%;
}
.manu{
	width:990px;
	float:left;
}
ul.mainMenuItem{
	list-style:none;
	float:right;
}
ul.mainMenuItem li{
	float:left;
	position:relative;
}
ul.mainMenuItem li a{
	text-decoration:none;
	font-family:oswald;
	text-transform:uppercase;
	font-size:15px;
	display:block;
	padding:30px 30px;
	color:#0e0e0e;
	font-weight:500;
	transition:0.5s;
}
ul.mainMenuItem li#searchBtn i{
	margin-top:5px;
}
ul.mainMenuItem li a:hover{
		color:#ff5200;
}
.subMenu{
	list-style:none;
	width:270px;
	position:absolute;
	top:unset;
	background:white;
	border-top:1px solid #ddd;
	padding:25px;
	visibility:hidden;
	transform:scaleY(0);
	transition:.5s;
	transform-origin:top;
}
ul.mainMenuItem li:hover .subMenu{
	visibility:visible;
	transform:scaleY(1);
}

ul .subMenu li{
	float:none;
}
ul .subMenu li a{
	padding:8px 0px;
	font-weight:600;
	font-size:14px;
	text-transform:copitaliz;
	font-family:arial;
	color:#333;
	transition:.6s;
}
ul .subMenu li a:before{
	content:"";
	display:inline-block;
	background:#ff5200;
	width:0px;
	height:2px;
	vertical-align:middle;
	margin-right:10px;
	transition:.6s;
}
ul .subMenu li:hover a:before{
	width:20px;
}
#homeSlider{
	background: url(pic/slide-2.jpg);
	background-repeat:no-repeat;
	background-position:100%;
	padding:0;
}

.sliderContent{
    color: white;
	width:600px;
}
.sliderContent h1{
	font-size:50px;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:30px;
	margin-top:120px;
	float:left;
}
.sliderContent p{
	font-weight:600;
	line-height:25px;
	width:500px;
	margin-bottom:30px;
}
button#sliderWorkButton{
	background:#ff5200;
	color:white;
	border:none;
	padding:15px 30px;
	font-size:16px;
	font-weight:600;
	border-radius:3px;
	margin-bottom:120px;
}
.sliderNav{
	width:60px;
	margin:auto;
	padding:40px 0px;
}
.sliderNav span{
	width:10px;
	height:10px;
	background:transparent;
	border:4px solid #ddd;
	display:block;
	border-radius:100%;
	cursor:pointer;
	float:left;
	margin:5px 5px;
}
.sliderNav span:last-child{
	background:#ff5200;
	border-color:#ff5200;
}
#services{
	background:#f5f6f6;
}
.sboxWrapper{
	overflow:hidden;
}
.singleBok{
	width:225px;
	background:white;
	padding:15px;
	float:left;
	margin-right:30px;
	transition:0.3s;
}
.singleBok:hover{
	background:#fb5200;
	color:white !important;
	cursor:pointer;
}
.singleBok i{
	color:#fb5200;
}
.singleBok:hover h2, i{
	/*color:white;*/
} 
.singleBok:hover .sboxIcon i{
	color:white;
}
.singleBok:hover .sboxLink a{
	color:white !important;
}
.sboxLink:hover i.fa-arrow-right{
	color:white !important;
}
.sboxTitle{
	text-align:center;
	width:150px;
	margin:auto;
}
.sboxTitle h2{
	font-size:26px;
	letter-spacing:1.1px;
	color:#333;
	line-height:28px;
	text-transform:uppercase;
	margin:30px 0px;
}
.sboxIcon{
	text-align:center;
	font-size:40px;
	color:#fb5200;
	margin:30px 0px;
}
.sboxDesc{
	text-align:center;
	margin:30px 0px;
}
.sboxLink{
	text-align:center;
	margin:30px 0px;

}
.sboxLink a{
	text-decoration:none;
	color:#fb5200;
	font-weight:520;
}
.sboxactive{
	background:#fb5200;
	color:white;
}
.sboxLink i.fa-arrow-right{
	color:fb5200;
}
.sboxactive h2{color:white;}
.sboxactive a{color: white;}
.sboxactive i{color: white;}
.sboxactive i.fa-arrow-right{color: white;}


.teamContents{
	overflow:hidden;
}
.teamImage{
	width:535px;
	float:left;
}
.teamImage img{
	max-width:100%;
}
.teamDetails{
	width:535px;
	float:right;
}
.titleDesc h2{
	font-size:40px;
	margin-bottom:15px;
}
.titleDesc p{
	color:#666;
	line-height:25px;
	margin-bottom:15px;
}
.teamFacilities ul{
	margin:0;
	padding:0;
	list-style:none;
	width:260px;
	float:left;
}

.teamFacilities ul li{
	line-height:40px;
	transition:0.3s;
}
.teamFacilities ul li a {
	color:#333;
	text-decoration:none;
	font-weight:500;
}
.teamFacilities{
	overflow:hidden;
	margin-bottom:25px;
}
.teamFacilities ul li a i{
	font-size:12px;
	color:#444;
}
.teamContactBtn a{
	background:#fb5200;
	color:white;
	padding:15px 10px;
	text-decoration:none;
	font-weight:bold;
	font-size:20px;
	display:block;
	width:140px;
	text-align:center;
	border-radius:3px;
}
.teamFacilities ul li:hover a{
	color:#fb5200;
}
.teamFacilities ul li:hover i{
	color:#fb5200;
}

.teamContactBtn a:hover{
	background:#333;
	color:white;
}
#whyChoosUS{
	background:linear-gradient(#00000073,#00000073),url(pic/why-choose-us1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.iconWrapper{
	overflow:hidden;
}
.singleIcons{
	width:210px;
	text-align:center;
	color:white;
	float:left;
	margin-right:100px;
}
.sIcon{
	font-size:40px;
}
.singleIcons h2{
	font-size:55px;
	font-weight:900;
	margin:10px 0px;
	font-family:arial black;
}
.singleIcons h4{
	font-size:22px;
}
.singleIcons:last-child{
	margin-right:0px;
}
#blogPost{
	background:#f5f6f6;
}
.secTitle{
	text-align:center;
	margin-bottom:60px;
}
.secTitle h2{
	font-size:45px;
	margin-bottom:10px;
	position:relative;
	padding-bottom:10px;
}
.secTitle h2:after{
	content:"";
	position:absolute;
	bottom:0;
	background:#fb5200;
	width:70px;
	border-bottom:4px solid #fb5200;
	left:50%;
	transform:translatex(-50%);
}
.secTitle p{
	width:600px;
	margin:auto;
	line-height:25px;
	font-size:17px;
	color:#666;
}
.postWrapper{
	overflow:hidden;
}
.singlePost{
	width:258px;
	overflow:hidden;
	float:left;
	margin-right:35px;
}
.singlePost:last-child{
	margin-right:0px;
}
.singlePost img{
	width:100%;
}
.postImg{
	margin-bottom:20px;
}
.postInfo p{
	margin-top:10px;
	color:#666;
	line-height:23px;
}
.singleTable{
	width:298px;
	margin-right:30px;
	overflow:hidden;
	float:left;
	border:1px solid #eaeaea;
	padding:30px;
}
.singleTable:last-child{
	margin-right:0px;
}
.singleTable h3{
	font-size:25px;
}
.singleTable h1{
	font-size:40px;
	font-weight:900;
	font-family:arial black;
	margin:8px 0px;
}
.singleTable h1 span{
	font-size:25px;
	margin-left:10px;
	font-weight:700;
	font-family:arial;
}
.singleTable ul{
	list-style:none;
	color:#777;
}

.singleTable ul li{
	line-height:40px;
}
.singleTable ul li i{
	font-size:14px;
	color:#fb5200;
}
#tableGetstarted{
	background:#fb5200;
	color:white;
	border:none;
	padding:15px 30px;
	letter-spacing:1px;
	font-weight:800;
	font-family:oswald;
	font-size:15px;
	margin:20px 0px;
	border-radius:3px;
}
#tableGetstarted:hover{
	color:white;
	background:#333;
    cursor:pointer;
}
.tableList{
	display:table;
	background:#FAFAFA;
}
.singleTable:last-child{
	margin-right:0px;
	box-shadow:20px 0px 8px #f6f6f6;
}
.singleTable:first-child{
	box-shadow:-20px 0px 8px #f6f6f6;
}
#ideas{
	overflow:hidden;
	padding:0;
	height:500px;
	
}

.idealeftImg{
	background:url(pic/s02.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}
.idealeftImg{
	width:53%;
	float:left;
	height:100%;

}
.rightContent{
	width:47%;
	float:right;
	overflow:hidden;
	background:#222222;
	color:white;
}
.rConrentTitle{
	padding:60px;
	padding-bottom:0px;
	margin:35px -20px;
}
.rConrentTitle h1{
	font-size:35px;
	margin-bottom:15px;
}
.rConrentIcons{
	padding:0px 45px;
	overflow:hidden;
	padding-bottom:70px;
	
}
.rIconsingle{
	width:270px;
	float:left;
	overflow:hidden;
	margin-bottom:45px;
}
.rIcon{
	width:70px;
	overflow:hidden;
	float:left;
	font-size:50px;
	color:#fb5200;
}
.riconTitle{
	width:172px;
	overflow:hidden;
	float:right;
}
.riconTitle h2{
	font-size:20px;
	margin-bottom:10px;
	transition:0.3s;
	cursor:pointer;
}
.riconTitle h2:hover{
	color:#fb5200;
}
.teamPersons{
	overflow:hidden;
}
.singleperson:fast-child{
	margin-right:0;
}
.singleperson{
	margin-right:30px;
	width:255px;
	overflow:hidden;
	float:left;
}
.singleperson img{
	width:100%;
	transition:.3s;
}
.personinfo{
	padding:22px 15px;
	text-align:center;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.personinfo h3{
	font-size:18px;
}
.personinfo p{
	font-size:14px;
	margin-top:8px;
	color:#777;
}
.joinTeamButton{
	margin-top:70px;
	display:grid;
	place-items:center;

}
.joinTeamButton button{
	background:#333;
	color:white;
	border:none;
	padding:15px 20px;
	font-family:oswald;
	letter-spacing:1;
	font-size:18px;
	border-radius:4px;
	transition:0.3s;
}
.joinTeamButton button:hover{
	color:white;
	background:#fb5200;
	cursor:pointer;
	
}
.personImg{
	overflow:hidden;
	position:relative;
}
.socialIcons{
    width:170px;
	position:absolute;
	bottom:50px;
	text-align:center;
	left:50%;
	transform:translateX(-50%);
}

.socialIcons a{
    width:20px;
	height:20px;
	display:block;
	float:left;
	overflow:hidden;
	background:red;
	display:grid;
	place-items:center;
	text-decoration:none;
	border-radius:100%;
	padding:5px;
	color:white;
	margin:5px;
	transition:.3s;
}
.socialIcons a:first-child{
	background:#3b5998;
	opacity:0;
	transition:.90s;
}
.socialIcons a:nth-child(2){
	background:#00acce;
		opacity:0;
	transition:.70s
}

.socialIcons a:nth-child(3){
	background:#db4a39;
		opacity:0;
	transition:.50s
}
.socialIcons a:last-child{
	background:#0e76a8;
		opacity:0;
	transition:.30s
}
.socialIcons a:hover{
	background:white;
	color:#333;
}
.singleperson:hover .socialIcons a:first-child{
	transform:translateY(20PX);
	opacity:1;
}


.singleperson:hover .socialIcons a:nth-child(2){
	transform:translateY(20PX);
	opacity:1;
}




.singleperson:hover .socialIcons a:nth-child(3){
	transform:translateY(20PX);
	opacity:1;
}


.singleperson:hover .socialIcons a:last-child{
	transform:translateY(20PX);
	opacity:1;
}
.singleperson:hover .personImg img{
	transform:scale(1.1);
}
.singleperson:hover{
	cursor:pointer;
}
#projects{
	background:#F5F6F6;
}

.projectsWrapper{
	overflow:hidden;
	column-count:3;
}
.singleProjects{
	width:350px;
	float:left;
	margin-right:30px;
	position:relative;
	margin-bottom:30px;
	overflow:hidden;
}
.singleProjects:last-child{
	margin-right:0px;
}
.singleProjects img{
	width:100%;
}
.projectsinfo{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:40px 30px;
	background:linear-gradient(to top,black,transparent 160px);
	color:white;
	padding-bottom:0px;
	transition:.3s;
}
.projectsMeta{
	width:280px;
	margin-bottom:15px ;
}
.projectsMeta a{
	color:white;
	font-weight:600;
	margin-bottom:10px;
	display:block;
}
#LearnMorebtn a{
	display:block;
	color:white;
	font-weight:500;
	font-size:16px;
	visibility:hidden;
	transform:translateX(-150px);
	text-decoration:none;
}
#LearnMorebtn a i{
	font-size:13px;
	margin-left:10px;
}

.singleProjects:hover .projectsinfo{
	padding:40px 30px !important;
	background:linear-gradient(to top,black,transparent 180px) !important;
}
.singleProjects:hover #LearnMorebtn a{
	    visibility:visible;
		transition:.3s;
	    transition-delay:.3s;
	    transition-timing-function:cubic-bezier(0, 0,43, 0.15,1.09);
		transform:translateY(0px);
}
.newsWrapper{
	overflow:hidden;
}
.singleNews{
	width:350px;
	margin-right:30px;
	float:left;
	overflow:hidden;
	margin-bottom:30px;
}
.singleNews:last-child{
	margin-right:0px;
}
.newsImage img{
	width:100%;
	transition:.3s;
	cursor:pointer;
}
.newsImage{
	overflow:hidden;
}
.singleNews:hover img{
	transform:scale(1.1);
}

.newsMeta{
	padding:30px;
	border-left:1px solid #e4e3e3;
	border-right:1px solid #e4e3e3;
	border-bottom:1px solid #e4e3e3;
}
.newsCategory{
	margin-bottom:20px;
	overflow:hidden;
	position:relative;
}
.newsCategory a{
	text-decoration:none;
	font-weight:400;
	color:#444;
	display:block;
	width:120px;
	float:left;
	font-size:14px;
}
.newsCategory a:last-child{
	margin-left:15px;
}
.newsCategory a:first-child{
	color:#999;
}
.newsCategory:hover a:last-child{
	color:#fb5200;
}
.newsTitle h2 a{
	color:#333;
	text-decoration:none;
}
.newsTitle h2{
	margin-bottom:12px;
}
.newsTitle h2:hover a{
	color:#fb5200;
}
.newsTitle p{
	color:#777;
	margin-bottom:15px;
}
a#newsReadMore {
    color: #FB5200;
    font-weight: 500;
    text-decoration: none;
} 
a#newsReadMore i{
	font-size:12px;
}
.newsCategory:after{
	content:"";
	width:20px;
	border-bottom:2px solid #fb5200;
	position:absolute;
	left:95px;
	top:7px;
}
#footer{
	background:#1a1a1a;
	padding-top:200px;
}
.copyrightContainer{
	overflow:hidden;
	color:#999;
	border-top:1px solid #333;
}

.copyrightContainer container{
	overflow:hidden;
}
.copyrightText{
	width:520px;
	float:left;
	padding:25px 0;
}

.copyrightMenu{
	width:570px;
	float:right;
}
.copyrightMenu ul{
	list-style:none;
	float:right;
	overflow:hidden;
}

.copyrightMenu ul li{
	float:left;
}
.copyrightMenu ul li a{
	color:#999;
	display:block;
	padding:25px 15px;
	text-decoration:none;
}
.fboxWrapper{
	overflow:hidden;
	margin-bottom:60px;
}
.fbox{
	overflow:hidden;
	width:250px;
	float:left;
	margin-right:30px;
	color:#999;
}
.fbox:last-child{
	margin-right:0px;
}
.fbox h3{
	color:white;
	margin-bottom:18px;
}
.fbox p{
	line-height:23px;
	font-size:16px;
	margin-bottom:20px;
}
#contacts{
	display:block;
	margin-bottom:15px;
	font-size:16px;
}
#contacts i{
	color:#fb5200;
	margin-right:10px;
}
#uflinks{
	list-style:none;
}

#uflinks li{
	line-height:25px;
}
#uflinks li a{
	color:#999;
	text-decoration:none;
	display:block;
	padding:7px 0;
	border-bottom:1px dashed #353535;
}
#uflinks li a i{
	font-size:10px;
}
#uflinks li:last-child a{
	border-bottom:none;
}
.fRpost{
	overflow:hidden;
	margin-bottom:30px;
}
.fRpostMeta{
	width:40px;
	background:#313131;
	padding:12px 10px;
	border-radius:3px;
	color:white;
	float:left;
	text-align:center;
}
.fRpostTitle{
	width:175px;
	float:right;
}
.fRpostTitle h3{
	margin:0;
	margin-bottom:10px;
	font-size:16px;
	color:#999;
}
.fRpostTitle a{
	color:#666;
    text-decoration:none;
	font-size:12px;
	margin-right:15px;
}
.fRpostMeta span:first-child{
	font-weight:800;
	font-size:22px;
}
.fRpostMeta span:last-child{
	font-size:9px;
	font-weight:700;
	margin-top:6px;
	display:block;
	line-height:10px;
}
 
.fIcons a{
	display:block;
	width:20px;
	background:#666;
	display:grid;
	place-items:center;
	padding:5px;
	float:left;
	margin-right:10px;
	border-radius:3px;
	text-decoration:none;
	color:white;
}

.subBoxsWrapper{
	overflow:hidden;
	background:#ff5200;
	border-radius:3px;
	padding-bottom:20px;
}
.subBoxSingle{
	width:320px;
	float:left;
	padding:30px;
	overflow:hidden;
	color:white;
}
.subBoxSingle:last-child{
	margin-right:0;
}

.subBoxSingle h2{
	color:white;
	margin-bottom:20px;
}

.inputboxes{
	position:relative;
}
.inputboxes input:first-child{
	width:80%;
	padding:15px;
	border:none;
	border-bottom-left-radius:50px;
	border-top-left-radius:50px;
	font-family:oswald;
	letter-spacing:1;
}
#subssubmit{
	padding:16px;
	border:none;
	background:black;
	color:white;
	font-weight:800;
	letter-spacing:1;
	font-size:14px;
	width:120px;
	border-radius:50px;
	position:absolute;
	top:0;
	right:0;
}

.subsFollowIcons{
	overflow:hidden;
}

.subsFollowIcons a{
	width:30px;
	height:30px;
	float:left;
	border:1px solid white;
	display:grid;
	place-items:center;
	border-radius:100%;
	margin-right:15px;
	color:white;
	text-decoration:none;
}
.subsFollowIcons a:hover{
	background:white;
	color:#333;
}
#subscribe{
	position:relative;
	margin-bottom:-165px;
}























